.carousel {
  img {
    width: 100%;
    height: 80dvh;
    object-fit: cover;
<<<<<<< HEAD
    object-position: center;
=======
    object-position: top;
>>>>>>> 360b243975187a587175244ce0741e528f3312c7
  }
}
